:root{

    --bg:#060818;
    --panel:#101a3a;

    --blue:#00d2ff;
    --green:#39ff14;
    --red:#ff0055;
    --yellow:#ffdf00;
}

body{

    margin:0;
    font-family:Arial;

    background:radial-gradient(circle,#0c1430,#05060f);

    color:white;
}

/* LAYOUT */
.game-container{

    display:flex;
    height:100vh;
}

/* SIDEBAR */
.sidebar{

    width:320px;

    background:var(--panel);

    padding:20px;
}

.game-title{

    font-size:28px;
    color:var(--blue);
}

.game-title span{

    color:var(--yellow);
}

.btn-grid{

    display:grid;
    gap:10px;
}

button{

    padding:10px;

    border:none;

    background:#1a2550;

    color:white;

    cursor:pointer;

    border-radius:10px;
}

button:hover{

    background:var(--blue);
    color:black;
}

/* STATS */
.stats-panel{

    margin-top:20px;

    background:#0d1430;

    padding:10px;

    border-radius:10px;
}

/* GAME AREA */
.visualizer-container{

    flex:1;

    display:flex;

    flex-direction:column;

    justify-content:center;
    align-items:center;
}

#array-container{

    display:flex;

    align-items:flex-end;

    gap:10px;

    height:400px;
}

.bar{

    width:50px;

    background:linear-gradient(to top,#ff007f,#ff66cc);

    display:flex;

    align-items:flex-end;
    justify-content:center;

    padding-bottom:10px;

    font-weight:bold;

    transition:0.2s;
}

.bar.active{

    background:var(--blue);

    box-shadow:0 0 15px var(--blue);
}

.bar.sorted{

    background:var(--green);
}

/* BUTTON AREAS */
#bubble-ui,
#selection-ui,
#insertion-ui{

    margin-top:20px;

    display:flex;

    gap:15px;
}

/* SPECIAL BUTTONS */
#bubble-ui button{

    background:linear-gradient(to right,#39ff14,#00ff99);

    color:black;
}

#selection-ui button{

    background:linear-gradient(to right,#ffdf00,#ffa500);

    color:black;
}

#insertion-ui button{

    background:linear-gradient(to right,#00d2ff,#0088ff);

    color:black;
}
